<div id="portfolio-card" class="card">
    <div class="card-body" style="display: flex; padding: 30px 30px 0px 30px;">
        <div style="flex: 3;">
            <!-- Content for the first div -->
            <h4 class="card-title">{{ portfolio.name }}</h4>
            <h6 class="card-subtitle mb-2 text-body-secondary"><small>Simulation Date: {{ portfolio.date|date:"l, j F Y" }}</small> </h6>
            {% comment %}             <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a> {% endcomment %}
        </div>
        <div style="flex: 1; text-align: right;">
            <h4 style="margin-bottom: 0px;"><small style="font-size: 12px; margin-right: 4px;">USD </small>{{ portfolio.value }}</h4>
            
            {% if portfolio.change_status == "POSITIVE" %}
            <h6><span class="badge text-bg-success">{{ portfolio.change }}</span></h6>    
            {% elif portfolio.change_status == "ZERO" %}
            <h6><span class="badge text-bg-light">{{ portfolio.change }}</span></h6>    
            {% elif portfolio.change_status == "NEGATIVE" %}
            <h6><span class="badge text-bg-danger">{{ portfolio.change }}</span></h6>    
            {% endif %}
            
            
        </div>
    </div>
    <!-- Place the canvas element below the flex container -->
    <canvas id="{{ portfolio.id|stringformat:"i"|add:'_myLineChart' }}" class="small_line_chart" style="width: 100%; height: 125px; margin: 10px 30px 30px 30px;"></canvas>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Sample data
        var price_data = {{ portfolio.price_data|safe }};
        console.log("price_data", price_data);
        
        //// Convert labels to Date objects
        //var dateLabels = price_data["datetime"].map(function (label) {
            //    return luxon.DateTime.fromFormat(label, 'yyyy-MM-dd').toJSDate();
            //});
            const CHART_COLOURS = {
                RED_BORDER: 'rgba(255, 75, 66, 1)',
                RED_BACKGROUND: 'rgba(255, 75, 66, 0.15)',
                RED_BACKGROUND_GRAD: 'rgba(255, 75, 66, 0.4)',
                RED_BACKGROUND_GRAD_LOW: 'rgba(255, 75, 66, 0.1)',
                GREEN_BORDER: 'rgba(100, 220, 150, 1)',
                GREEN_BACKGROUND: 'rgba(100, 220, 150, 0.15)',
                GREEN_BACKGROUND_GRAD: 'rgba(100, 220, 150, 0.4)',
                GREEN_BACKGROUND_GRAD_LOW: 'rgba(100, 220, 150, 0.1)',
                TOOLTIP_COLOR: 'rgba(13, 110, 253, 1)',
            };

            // Get the canvas element
            var ctx = document.getElementById("{{portfolio.id}}" + '_myLineChart').getContext('2d');
            ctx.canvas.height = 125;
            
            portfolioChangeStatus = "{{ portfolio.change_status }}";
            if (portfolioChangeStatus === "NEGATIVE") {
                borderColor = CHART_COLOURS.RED_BORDER;
                backgroundColor = CHART_COLOURS.RED_BACKGROUND;
                backgroundColorGrad = CHART_COLOURS.RED_BACKGROUND_GRAD;
                backgroundColorGradLow = CHART_COLOURS.RED_BACKGROUND_GRAD_LOW;
            } else {
                borderColor = CHART_COLOURS.GREEN_BORDER;
                backgroundColor = CHART_COLOURS.GREEN_BACKGROUND;
                backgroundColorGrad = CHART_COLOURS.GREEN_BACKGROUND_GRAD;
                backgroundColorGradLow = CHART_COLOURS.GREEN_BACKGROUND_GRAD_LOW;
            }
            
            // Create a financial chart (line chart with financial features)
            var myFinancialChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: price_data["date"],
                    datasets: [{
                        label: 'Portfolio value',
                        data: price_data["value"],
                        borderColor: borderColor,
                        borderWidth: 3,
                        pointRadius: 0,
                        type: 'line', // Set the type to 'line'
                        fill: true,
                        backgroundColor: (context) => {
                            if (!context.chart.chartArea) {
                                return;
                            }
                            
                            const { ctx, data, chartArea: {top, bottom} } = context.chart;
                            console.log("top", top, ": bottom", bottom)
                            const gradientBg = ctx.createLinearGradient(0, top, 0, bottom);
                            gradientBg.addColorStop(1, backgroundColorGradLow)
                            gradientBg.addColorStop(0, backgroundColorGrad)
                            return gradientBg;
                        },
                        pointRadius: 0,
                        pointHoverRadius: 0,
                    }]
                },
                options: {
                    scales: {
                        x: {
                            border: {
                                display: false
                            },
                            type: 'time',
                            time: {
                                unit: 'day'
                            },
                            grid: {
                                display: false, // Turn off x-axis grid lines
                            },
                            ticks: {
                                maxTicksLimit: 4, // Set the maximum number of x-axis labels
                                maxRotation: 0,   // Set the maximum label rotation angle
                                minRotation: 0,
                                font: {
                                    size: 11,
                                    weight: 'bold'
                                },  
                            }
                        },
                        y: {
                            border: {
                                color: 'rgba(255, 75, 66, 1)'
                            },
                            beginAtZero: false,
                            position: 'right',
                            grid: {
                                display: false, // Turn off x-axis grid lines
                            },
                            ticks: {
                                maxTicksLimit: 4, // Set the maximum number of x-axis labels
                                // You can add additional y-axis tick options here if needed
                                offset: -10,
                                crossAlign: 'far',
                                font: {
                                    size: 11,
                                    weight: 'bold'
                                },  
                            }
                        }
                    },
                    plugins: {
                        legend: {
                            display: false
                        },
                        tooltip: {
                            enabled: false,
                          },
                    }
                },
                
                
            });
            
        });
    </script>
    