{% extends "retrograde/layout.html" %}

{% block body %}

<div class="card" style="display: block; margin: 20px;">
    <div class="card-header">
        <h3 style="margin: 20px;">Create New Portfolio</h3>
    </div>
    <div style="padding: 40px;">
        
        <form id="form-new-portfolio" action="{% url 'new_portfolio' %}" method="POST">
            {% csrf_token %}
            <p><small>Please note that you cannot edit a portfolio once created.</small></p>
            
            <div class="form-group row">
                
                <label for="title" class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9 col-6">
                    <input required type="text" class="form-control" id="name" name="name">
                    <div id="name-ValidFeedback" class="valid-feedback">
                        Looks good!
                    </div>
                    <div id="name-InvalidFeedback" class="invalid-feedback">
                    </div>
                </div>
            </div>
            
            <div class="form-group row">
                
                    <label for="initial-capital" class="col-sm-3 col-form-label">Initial Capital</label>
                    <div class="col-sm-9 col-6">
                        <div class="input-group is-valid">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="border-bottom-right-radius: 0px; border-top-right-radius: 0px;">USD</span>
                            </div>
                            <input required type="number" class="form-control" id="initial-capital" name="initial_capital" style="text-align: right;">
                            <div id="initial-capital-ValidFeedback" class="valid-feedback">
                                Looks good!
                            </div>
                            <div id="initial-capital-InvalidFeedback" class="invalid-feedback">
                            </div>
                        </div>
                    </div>
                
            </div>
            
            <div class="form-group row">
                <label for="initial_capital" class="col-sm-3 col-form-label">Select Date: </label> 
                <div class="col-sm-9 col-6">
                    <div id="datepicker" class="input-group date" data-date-format="dd-mm-yyyy"> 
                        <input id="date" required class="form-control" type="text" name="date" style="border-bottom-right-radius: 6px; border-top-right-radius: 6px;"> 
                        <div id="date-ValidFeedback" class="valid-feedback">
                            Looks good!
                        </div> 
                        <div id="date-InvalidFeedback" class="invalid-feedback">
                        </div>
                        <span class="input-group-addon"> 
                            <i class="glyphicon glyphicon-calendar"></i> 
                        </span> 
                    </div>
                </div>
                <div style="display: inline-block; width: 893px;">
                    <button id="submit-button"type="submit" class="btn btn-primary" style="float: right; margin: 20px 0px 0px;">Create Portfolio</button>
                </div>
            </div> 

            
    </form>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.1.min.js" 
integrity= 
"sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" 
crossorigin="anonymous"> 
</script> 
<script> 
    $(function () { 
        $("#datepicker").datepicker({  
            autoclose: true,  
            todayHighlight: false, 
            startDate: new Date('1970-01-01'),
            endDate: '-2d',
        }).datepicker('update', new Date()); 
    }); 
</script> 
<script src= 
    "https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" 
    integrity= 
    "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
    crossorigin="anonymous"> 
</script> 
<script src= 
"https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" 
integrity= 
"sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
crossorigin="anonymous"> 
</script> 
<script src= 
"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"> 
</script> 

<script>

    document.getElementById("name").addEventListener("keyup", function(event) {
        try {
            var name = event.target.value
            //console.log("name", name)
            if (name.length !== 0) {
                triggerValidMessage("name")
            } else {
                deleteMessages("name")
            }
        } catch (error) {
            // Handle the error here if needed
            //console.error("An error occurred:", error);
        }
    })

    document.getElementById("initial-capital").addEventListener("keyup", function(event) {
  
        var initial_capital = event.target.value
        //console.log("initial_capital", initial_capital)
        if (initial_capital.length === 0) {
            deleteMessages("initial-capital")
        }
        initial_capital = parseFloat(initial_capital)
        console.log("initial_capital_str", initial_capital)
        if (initial_capital < 100) {
            //console.log("I'm here 1")
            triggerInvalidMessage("initial-capital", "Enter a value greater than USD 100!")
        } else if (!hasTwoOrFewerDecimalPoints(String(initial_capital))) {
            //console.log("I'm here 2")
            triggerInvalidMessage("initial-capital", "Enter value to two decimal points!")
        } else {
            //console.log("I'm here 3")
            triggerValidMessage("initial-capital")
        }
        
    })

    triggerValidMessage("date")
    deleteMessages("date")

    function hasTwoOrFewerDecimalPoints(str) {
        // Regular expression to match integers or floats with two or fewer decimal points
        const regex = /^\d+(\.\d{0,2})?$/;
        
        // Test if the string matches the regular expression
        return regex.test(str);
    }

    function triggerValidMessage(label) {
        console.log("trigger valid", document.getElementById(label))
        document.getElementById(label).classList.remove("is-invalid")
        document.getElementById(label).classList.add("is-valid")
        document.getElementById("submit-button").disabled = false;
    }

    function triggerInvalidMessage(label, message) {
        document.getElementById(label).classList.remove("is-valid")
        document.getElementById(label).classList.add("is-invalid")
        document.getElementById(label + "-InvalidFeedback").innerHTML = message
        document.getElementById("submit-button").disabled = true;
    }

    function deleteMessages(label) {
        document.getElementById(label).classList.remove("is-invalid")
        document.getElementById(label).classList.remove("is-valid")
        document.getElementById(label + "-InvalidFeedback").innerHTML = ""
        document.getElementById("submit-button").disabled = true;
    }
</script>

{% endblock %}
