{% extends "retrograde/layout.html" %}
{% load tz %}
{% block body %}
{% load static %}
<b>My Portfolios > {{ portfolio.name }}</b>

<div id="big-portfolio-card" class="card">
  <div class="card-body" style="display: flex; padding: 20px 10px 0px 10px;">
    <div style="flex: 3;">
      <h2 class="card-title">{{ portfolio.name }}</h2>
      <h5 class="card-subtitle mb-2 text-body-secondary"><small>Simulation Date: {{ portfolio.date|date:"l, j F Y" }}</small> </h5>
    </div>
    <div style="flex: 1; text-align: right;">
      
      <h2 style="margin-bottom: 0px;" ><small style="font-size: 16px; margin-right: 10px;">USD </small>{{ portfolio.value }}</h2>
      {% if portfolio.change_status == "POSITIVE" %}
      <h5><span class="badge text-bg-success">{{ portfolio.change }}</span></h5>    
      {% elif portfolio.change_status == "ZERO" %}
      <h5><span class="badge text-bg-light">{{ portfolio.change }}</span></h5>    
      {% elif portfolio.change_status == "NEGATIVE" %}
      <h5><span class="badge text-bg-danger">{{ portfolio.change }}</span></h5>    
      {% endif %}
    </div>
  </div>
  <div style="display: flex;">
    <hr style="border: none; border-top: 2px solid #CCC; margin: 20px 0; width: 100%;">
  </div>
  <!-- Place the canvas element below the flex container -->
  {% comment %}   <div style="display: flex; justify-content: center; padding: 0px 30px 10px 30px;">
    <ul class="nav nav-pills" style="font-size: smaller; font-weight: bold;">
      <button id="oneD" type="button" class="btn btn-primary" style="margin: 5px; font-size: small; font-weight: bold;">All</button>
      <button id="oneW" type="button" class="btn btn-light" style="margin: 5px; font-size: small; font-weight: bold;">Day</button>
      <button id="oneW" type="button" class="btn btn-light" style="margin: 5px; font-size: small; font-weight: bold;">Week</button>
      <button id="oneM" type="button" class="btn btn-light" style="margin: 5px; font-size: small; font-weight: bold;">Month</button>
      <button id="threeM" type="button" class="btn btn-light" style="margin: 5px; font-size: small; font-weight: bold;">Year</button>
    </ul>
  </div> {% endcomment %}
  <div>
    <h4 style="margin-bottom: 0px;">Portfolio Value</h4>
    <small>How your portfolio has performed since inception.</small>
    <div style="height: 200px; margin-top: 10px;">
      <canvas id="{{ portfolio.name|add:'_assetValue' }}" style="width: 100%;"></canvas>
    </div>
  </div>            
  
  <div>
    
    <div class="container" style="margin: 20px 0px 40px 0px;">
      <div class="row">
        <div class="col-md-8">
          <div class="card" style="height: 19rem; border: none; padding: 10px; background-color: rgba(13, 110, 253, 0.8); color: white;">
            <div class="card-body" style="height:100%">
              <h4 class="card-title">Portfolio Performance</h4>
              <hr style="margin: 6px 0px; line-height: 4px;">
              
              {% comment %}              <small> Total Return: {{ portfolio.financial_performance.total_return }} <br>
                Sharpe Ratio: {{ portfolio.financial_performance.sharpe_ratio }}
                <br> Volatility, Beta: {{ portfolio.financial_performance_beta }}
                <br> Alpha: {{ portfolio.financial_performance_alpha }}
                <br> Treynor Ratio: {{ portfolio.financial_performance_treynor_ratio }}
                <br> Volatility: {{ portfolio.financial_performance_volatility }}
                <br> Information Ratio, Drawdown Analysis. Yield and Income Metrics. Duration and Convexity </small>
                {% endcomment %}                
                <div style="text-align: right;">
                  <h4 class="card-title">Profit to Date: $1,432.34</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="color: white; height: 19rem; border: none; padding: 10px; background-color: rgba(150, 115, 255, 1);">
              
              <div class="card-body">
                <h4 class="card-title" style="">Feedback</h4>
                <hr style="margin: 0px 0px; height: 4px;">
                <figure style="margin: 0px;" >
                  <blockquote class="blockquote" style="margin-bottom:5px;">
                    <p style="font-size:9px; margin-bottom: 10px; font-style: italic">Generated using ChatGPT-4</p>
                    <div id="chat-container" style="font-size: 13px; margin-bottom: 5px;">
                    </div>
                    <p>
                      {% comment %} 25 words {% endcomment %}
                    </p>
                  </blockquote>
                </figure>
              </div>
            </div>
          </div>
          
        </div>
        <div class="d-flex justify-content-end">
          <button id="tick_one_day_button" type="button" class="btn btn-primary btn-lg" onclick="tickOneDay()">
            Tick One Day
          </button>
        </div>
      </div>
      
      
      <h4 style="margin-bottom: 0px;">Assets Held</h4>
      <small>All the assets that you hold and their market data for the past 3 months.</small>
      <div class="btn-group float-end" role="group" aria-label="Basic outlined example">
        <button id="showAllButton" class="btn btn-primary" {% comment %} onclick="dropAssets()"  {% endcomment %}style="font-size: 12px;">Show All</button>
        <button id="collapseAllButton" class="btn btn-primary" {% comment %} onclick="collapseAssets()" {% endcomment %} style="font-size: 12px;">Collapse All</button>
      </div>
      
      <table class="table" style="margin-top: 30px;">
        <thead>
          <tr>
            <th scope="col">Asset</th>
            <th scope="col" style="text-align: center;">Price</th>
            <th scope="col" style="text-align: right;">Allocation (USD)</th>
          </tr>
        </thead>
      </table>
      
      <div class="accordion accordion-flush" id="accordionPanelsStayOpenExample">
        {% for asset in portfolio.asset_data %}
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" style="backgroundColor: white;" type="button" data-bs-toggle="collapse" data-bs-target="#{{ 'panelsStayOpen-collapse'|add:asset.index }}" aria-expanded="false" aria-controls="{{ 'panelsStayOpen-collapse'|add:asset.index }}">
              <div class="asset-row">
                <div class="asset-info">
                  <b>{{ asset.ticker }}</b><br>
                  <small>{{ asset.long_name }}</small>
                </div>
                <div class="asset-chart" style="height: 50px; width: 100px;">
                  <canvas id="{{ 'asset_chart_'|add:asset.index }}"></canvas>
                </div>
                <div class="asset-details" style=" display: flex; align-items: center;">
                  <div style="text-align: right; height:40px; width: 100px">
                    <h6 style="margin-bottom: 0px;">
                      {% if asset.currency != "USD"  %}<small style="font-size: 9px; margin-right:2px;"> {{ asset.currency }}</small>
                      {% endif %}
                      {{ asset.current_price }}</h6>
                      {% if asset.current_price_change_status == "POSITIVE" %}
                      <h6><span class="badge text-bg-success">{{ asset.current_price_change }}</span></h6>
                      {% elif asset.current_price_change_status == "ZERO" %}
                      <h6><span class="badge text-bg-light">{{ asset.current_price_change }}</span></h6>
                      {% elif asset.current_price_change_status == "NEGATIVE" %}
                      <h6><span class="badge text-bg-danger">{{ asset.current_price_change }}</span></h6>
                      {% endif %}
                    </div>
                    
                    <div style="width: 70px; text-align: center; margin-left: 30px;">
                      <h6 style="margin: 0px">{{ asset.current_num_units }}</h6>
                    </div>
                    <div style="text-align: right; width: 80px;">
                      <b>{{ asset.current_value }}</b><br>
                      <small>{{ asset.current_value_percent }}</small>
                    </div>
                  </div>
                </div>
              </button>
            </h2>
            
            <div id="{{ 'panelsStayOpen-collapse'|add:asset.index }}" class="accordion-collapse collapse">
              <div class="accordion-body">
                
                {% if asset.ticker != "Cash"  %}
                <div class="info-container">
                  <p class="info-pair">Currency: <strong>{{ asset.currency }}</strong></p>
                  <p class="info-pair">Country: <strong>{{ asset.country }}</strong> </p>
                  <p class="info-pair">Quote type: <strong>{{ asset.quote_type }}</strong></p>
                  <p class="info-pair">Exchange: <strong>{{ asset.exchange }}</strong></p>
                </div>
                <br>
                <small><b>Price Data of {{ asset.ticker }} for the last 3 months</b></small>
                <div style="height: 200px; margin-top: 10px;">
                  <canvas id="{{ 'price_chart_'|add:asset.index }}" style="height: 100px; width: 100%;"></canvas>
                </div>
                <br>
                <small><b>Candlestick Data of {{ asset.ticker }} for the last 3 months</b></small>
                <canvas id="{{ 'asset_chart_two_'|add:asset.index }}" style="height: 100px;"></canvas>
                <div id="{{ 'asset_chart_spinner_'|add:asset.index }}" class="d-flex justify-content-center align-items-center d-none" style="width: 898px; height: 400px;">
                  <div class="spinner-border" role="status">
                    <span class="visually-hidden"></span>
                  </div>
                </div>
                {% endif %}
                <div style="display: flex; justify-content: center; padding: 0px 30px 10px 30px;">
                  <ul class="nav nav-pills" style="font-size: smaller; font-weight: bold;">
                    <button id="oneD" type="button" class="btn btn-primary" style="margin: 5px; font-size: small; font-weight: bold;">Buy</button>
                    <button id="oneW" type="button" class="btn btn-light" style="margin: 5px; font-size: small; font-weight: bold;">Sell</button>
                  </ul>
                </div>
                <h6>Summary</h6>
                <p style="font-size: 11px;">{{ asset.long_business_summary }}</p>          
              </div>
            </div>
            
          </div>
          {% endfor %}
          
          <div class="accordion-item" style="height: 90px; display: flex; align-items: center; justify-content: center; text-align: center;">
            <button type="button" class="btn btn-primary" style="font-size: 12px; height: 35px; width: 140px;"><b> Buy New Asset </b></button>
          </div>      
        </div>
      </div>
      {% if portfolio.news.items != "0" %}
      <div>
        <h4 style="margin-bottom: 0px;">Today's News</h4>
        <small>Read today's news to improve your investing strategy.</small>
        
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-interval="1000" style="margin: 20px 0px 40px 0px">
          <div class="carousel-inner">
            {% for article in portfolio.news.feed %}
            {% if forloop.first %}
            <div class="card mb-3 carousel-item active" id="{{ 'article_'|add:forloop.counter0 }}" onclick="openInNewTab('{{ article.url }}')">
              {% else %}
              <div class="card mb-3 carousel-item" id="{{ 'article_'|add:forloop.counter0 }}" onclick="openInNewTab('{{ article.url }}')">
                {% endif %}
                <div class="row g-0">
                  <div class="image_container">
                    <img src="{{ article.banner_image }}" class="img-fluid rounded-start d-block" alt="Descriptive text about your primary image"
                    onerror="this.onerror=null; this.src='{% static 'retrograde/news.png' %}';">
                  </div>
                  <div class="col-md-6 news-content">
                    <div class="card-body" style="padding-top: 10px; padding-bottom: 0px;">
                      <div style="height: 165px;">
                        <h6 style="margin-bottom: 0px;">{{ article.source }}</h6>
                        <h5 class="card-title" style="font-weight: heavy; margin-bottom: 2px;">{{ article.title }}</h5>
                        {% comment %} <hr style="margin-top: 0px; margin-bottom: 5px; border-top-width: 2px; border-color: black !important;"> {% endcomment %}
                        <p class="card-text" style="font-size: 12px;">{{ article.summary }}</p>
                      </div>
                      <p class="card-text"><small class="text-body-secondary" style="font-size: 12px;">{{ article.time_published }}</small></p>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        {% endif %}
        <div>
          <h4 style="margin-bottom: 0px;">Asset Allocation</h4>
          <small>How the mix of assets held under the portfolio has changed with time.</small>
          <canvas id="{{ portfolio.name|add:'_myLineChart' }}" style="width: 100%; height: 150px; margin-top: 10px;"></canvas>
        </div>

        <!-- Trigger the modal with a button 
          <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
          
          <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
              
              Modal content
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                  <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              
            </div>
          </div>
        -->
      </div>
      
      <script>
        const RED_BORDER = 'rgba(255, 75, 66, 1)'
        const RED_BACKGROUND = 'rgba(255, 75, 66, 0.15)'
        
        const GREEN_BORDER = 'rgba(100, 220, 150, 1)'
        const GREEN_BACKGROUND = 'rgba(100, 220, 150, 0.15)'
        
        const TOOLTIP_COLOR = 'rgba(13, 110, 253, 1)'
        
        document.addEventListener('DOMContentLoaded', function () {
          
          // Sample data
          console.log("{{ user_timezone }}")
          var price_data = {{ portfolio.price_data|safe }};
          
          // Create portfolio value chart
          var ctx = document.getElementById("{{portfolio.name}}" + '_assetValue').getContext('2d');
          ctx.canvas.width = '898px';
          ctx.canvas.height = '150px';
          //console.log(dateLabels)
          
          portfolioChangeStatus = "{{ portfolio.change_status }}";
          if (portfolioChangeStatus === "NEGATIVE") {
            borderColor = RED_BORDER;
            backgroundColor = RED_BACKGROUND;
          } else {
            borderColor = GREEN_BORDER;
            backgroundColor = GREEN_BACKGROUND;
          }
          
          var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
              labels: price_data["date"],
              datasets: [{
                data: price_data["value"],
                fill: true,
                backgroundColor: backgroundColor,
                borderColor: borderColor,
                borderWidth: 3,
                pointRadius: 10,
                pointBorderColor: 'rgba(100, 220, 150, 0)',
                pointBackgroundColor: 'rgba(100, 220, 150, 0)',
                pointHoverRadius: 10,
                pointHoverBackgroundColor: borderColor,
                pointHoverBorderColor: 'rgba(255, 255, 255, 1)',
                pointHoverBorderWidth: 3,
              }]
            },
            options: {
              scales: {
                x: {
                  type: 'time',
                  time: {
                    unit: 'day',
                    tooltipFormat: 'DD'
                  },
                  ticks: {
                    maxTicksLimit: 4, // Set the maximum number of x-axis labels
                    maxRotation: 0,   // Set the maximum label rotation angle
                    minRotation: 0,
                    align: 'start',
                    font: {
                      size: 14,
                      weight: 'bold'
                    },  
                  },
                  grid: {
                    tickColor: 'rgba(255, 255, 255, 1)'
                  }
                },
                y: {
                  beginAtZero: false,
                  position: 'right',
                  ticks: {
                    // You can add additional y-axis tick options here if needed
                    maxTicksLimit: 4, // Set the maximum number of x-axis labels
                    includeBounds: true,
                    crossAlign: 'far',
                    font: {
                      size: 14,
                      weight: 'bold'
                    },  
                  },
                  grid: {
                    tickColor: 'rgba(255, 255, 255, 1)'
                  }
                }
              },
              animation: false,
              tooltips: {
                intersect: false,
              },
              hover: {
                mode: 'index',
                intersect: false
              },
              plugins: {
                legend: {
                  display: false,
                },
                tooltip: {
                  mode: 'index',
                  displayColors: false,
                  backgroundColor: 'rgba(255, 255, 255, 1)',
                  titleColor: 'rgba(0, 0, 0, 1)',
                  bodyColor: 'rgba(0, 0, 0, 1)',
                  padding: 12,
                  cornerRadius: 12,
                  caretPadding: 12,
                  caretSize: 8,
                  bodyAlign: 'right'
                }
              },
            }
          });
          
          var ctx = document.getElementById("{{portfolio.name}}" + '_myLineChart').getContext('2d');
          ctx.canvas.width = '898px';
          ctx.canvas.height = '100px';
          //console.log(dateLabels)
          
          // Create empty asset mix chart
          var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
              labels: price_data["date"],
              datasets: []
            },
            options: {
              scales: {
                x: {
                  type: 'time',
                  time: {
                    unit: 'day',
                    tooltipFormat: 'DD'
                  },
                  ticks: {
                    maxTicksLimit: 4, // Set the maximum number of x-axis labels
                    maxRotation: 0,   // Set the maximum label rotation angle
                    minRotation: 0,
                    align: 'start',
                    font: {
                      size: 14,
                      weight: 'bold'
                    },  
                  },
                  grid: {
                    tickColor: 'rgba(255, 255, 255, 1)'
                  },
                },
                y: {
                  beginAtZero: true,
                  position: 'right',
                  ticks: {
                    // You can add additional y-axis tick options here if needed
                    maxTicksLimit: 3, // Set the maximum number of x-axis labels
                    includeBounds: true,
                    crossAlign: 'far',
                    font: {
                      size: 14,
                      weight: 'bold'
                    },  
                  },
                  grid: {
                    tickColor: 'rgba(255, 255, 255, 1)'
                  },
                },
              },
              animation: false,

              plugins: {
                tooltip: {
                  backgroundColor: 'rgba(255, 255, 255, 1)',
                  titleColor: 'rgba(0, 0, 0, 1)',
                  bodyColor: 'rgba(0, 0, 0, 1)',
                  padding: 12,
                  cornerRadius: 12,
                  caretPadding: 12,
                  caretSize: 8,
                  bodyAlign: 'right'
                },
                legend: {
                  responsive: true,
                  display: true,
                  position: 'bottom', // or 'bottom', 'left', 'right'
                  align: 'center', // or 'start', 'end'
                  labels: {
                    font: {
                      size: 12,
                      weight: 'bold',
                    },
                    boxHeight: 2, // Adjust the width of the colored boxes in the legend
                    boxWidth: 20,
                    padding: 15, // Adjust the padding between legend elements
                  },
                },
              },
              
            }
          });
          
          colours = ['rgba(100, 220, 150, 1)', 'rgba(255, 165, 0, 1)', 'rgba(0, 123, 255, 1)', 'rgba(76, 169, 255, 143)', 'rgba(56, 122, 122, 1)', 'rgba(122, 32, 190, 1)']
          
          // Populate asset mix chart
          var count = 0;
          for (var key in price_data) {
            if (price_data.hasOwnProperty(key) && key !== "date") {
              myLineChart.data.datasets.push({
                label: key,
                data: price_data[key],
                fill: false,
                borderColor: colours[count%colours.length],
                borderWidth: 2.5,
                pointRadius: 10,
                pointBorderColor: 'rgba(100, 220, 150, 0)',
                pointBackgroundColor: 'rgba(100, 220, 150, 0)',
                pointHoverRadius: 10,
                pointHoverBackgroundColor: colours[count%colours.length],
                pointHoverBorderColor: 'rgba(255, 255, 255, 1)',
                pointHoverBorderWidth: 3,
              });
              count++;
            }
          } 
          myLineChart.update();
          
          // create charts for each asset
          var assets = {{ portfolio.asset_data|safe }}
          
          for (var asset of assets) {
            console.log("asset:", asset.ticker);
            
            console.log("asset.index:", asset.index);
            if (asset.ticker !== "Cash Balance") {

              // create chooti chart
              var ctxAssetChart = document.getElementById("asset_chart_" + asset.index).getContext('2d');
              ctxAssetChart.canvas.width = '200px';
              ctxAssetChart.canvas.height = '50px';
              
              if (asset.current_price_change_status === "NEGATIVE") {
                price_chart_border_color = RED_BORDER;
                price_chart_background_color = RED_BACKGROUND;
              } else {
                price_chart_border_color = GREEN_BORDER;
                price_chart_background_color = GREEN_BACKGROUND;
              }
              
              var price_chart_date = JSON.parse(asset.price_chart).date
              var price_chart_price = JSON.parse(asset.price_chart).price
              
              var assetChart = new Chart(ctxAssetChart, {
                type: 'line',
                data: {
                  labels: price_chart_date,
                  datasets: [{
                    data: price_chart_price,
                    fill: true,
                    backgroundColor: price_chart_background_color,
                    borderColor: price_chart_border_color,
                    borderWidth: 2.5,
                    pointRadius: 0,
                    pointHoverRadius: 0,
                  }]              },
                  options: {
                    scales: {
                      x: {
                        display: false,
                        type: 'time',
                        time: {
                          unit: 'day',
                          tooltipFormat: 'DD'
                        },
                        grid: {
                          display: false, // Turn off x-axis grid lines
                        },
                        
                        ticks: {
                          display: false
                        },
                        scaleLineColor: 'rgba(0, 0, 0, 0)'
                        
                      },
                      y: {
                        display: false,
                        beginAtZero: false,
                        position: 'right',
                        grid: {
                          display: false, // Turn off x-axis grid lines
                        },
                        
                        ticks: {
                          display: false
                        },
                        scaleLineColor: 'rgba(0, 0, 0, 0)'
                      }
                    },
                    plugins: {
                      tooltip: {
                        enabled: false,
                        displayColors: false,
                        backgroundColor: 'rgba(255, 255, 255, 1)',
                        titleColor: 'rgba(0, 0, 0, 1)',
                        bodyColor: 'rgba(0, 0, 0, 1)',
                        padding: 12,
                        cornerRadius: 12,
                        caretPadding: 12,
                        caretSize: 8 ,
                        bodyAlign: 'right'                       
                      },
                      hover: {mode: null},
                      legend: {
                        display: false
                      },
                      chartAreaBorder: {
                        borderColor: 'red',
                        borderWidth: 2,
                        borderDash: [5, 5],
                        borderDashOffset: 2,
                      }
                    }
                  }
                });
                
                // create candlestick chart
                console.log("making cnadlestick chart for", asset.index);
                var myDiv = document.getElementById("asset_chart_two_" + asset.index).getContext('2d');
                console.log("myDiv", myDiv);
                
                /**           
                var candlestick_chart = JSON.parse(asset.candlestick_chart);
                var num_units_chart = JSON.parse(asset.num_units_chart);
                
                var chart = new Chart(myDiv, {
                  data: {
                    datasets: [candlestick_chart, num_units_chart]
                  },
                  options: {
                    scales: {
                      x: {
                        type: 'timeseries',
                        grid: {
                          display: false, // Turn off x-axis grid lines
                        },
                        ticks: {
                          align: "start",
                          font: {
                            size: 14,
                            weight: 'bold'
                          },
                        },
                      },
                      y_candlestick: {
                        beginAtZero: false,
                        stack: 'stock',
                        type: "linear",
                        stackWeight: 1,
                        position: 'left',
                        min:20, // program later
                        max: 40, // program later
                        
                        ticks: {
                          font: {
                            size: 14,
                            weight: 'bold'
                          }
                        }
                      },
                      y_line: {
                        type: "linear",
                        stack: 'stock',
                        stackWeight: 1,
                        max: 40, // program later
                        beginAtZero: true,
                        position: 'left',
                        
                        ticks: {
                          font: {
                            size: 14,
                            weight: 'bold'
                          }
                        }
                      }
                      
                    },
                    plugins: {
                      legend: {
                        display: false
                      }
                    },
                    grid: {
                      color: 'rgba(0,0,0,0.1)',
                    },
                    // Add border to the entire chart
                    elements: {
                      line: {
                        tension: 0, // Disable bezier curves for line chart
                      },
                    },
                    borderColor: 'rgba(0, 0, 0, 1)', // Border color for the entire chart
                    borderWidth: 2, // Border width for the entire chart
                  }
                  
                }); */
                
                var ctxPriceChart = document.getElementById("price_chart_" + asset.index).getContext('2d');
                ctxPriceChart.canvas.width = '898px';
                ctxPriceChart.canvas.height = '150px';
                
                var myLineChart = new Chart(ctxPriceChart, {
                  type: 'line',
                  data: {
                    labels: price_chart_date,
                    datasets: [{
                      data: price_chart_price,
                      fill: true,
                      backgroundColor: price_chart_background_color,
                      borderColor: price_chart_border_color,
                      borderWidth: 3,
                      pointRadius: 10,
                      pointBorderColor: 'rgba(100, 220, 150, 0)',
                      pointBackgroundColor: 'rgba(100, 220, 150, 0)',
                      pointHoverRadius: 10,
                      pointHoverBackgroundColor: price_chart_border_color,
                      pointHoverBorderColor: 'rgba(255, 255, 255, 1)',
                      pointHoverBorderWidth: 3,
                    }]
                  },
                  options: {
                    scales: {
                      x: {
                        type: 'time',
                        time: {
                          unit: 'day',
                          tooltipFormat: 'DD'
                        },
                        ticks: {
                          maxTicksLimit: 4, // Set the maximum number of x-axis labels
                          maxRotation: 0,   // Set the maximum label rotation angle
                          minRotation: 0,
                          align: 'start',
                          font: {
                            size: 14,
                            weight: 'bold'
                          },  
                        },
                        grid: {
                          tickColor: 'rgba(255, 255, 255, 1)'
                        },
                      },
                      y: {
                        beginAtZero: false,
                        position: 'right',
                        ticks: {
                          // You can add additional y-axis tick options here if needed
                          maxTicksLimit: 4, // Set the maximum number of x-axis labels
                          includeBounds: true,
                          crossAlign: 'far',
                          font: {
                            size: 14,
                            weight: 'bold'
                          },  
                        },
                        grid: {
                          tickColor: 'rgba(255, 255, 255, 1)'
                        },
                      }
                    },
                    animation: false,
                    tooltips: {
                      mode: 'index',
                      intersect: false
                    },
                    hover: {
                      mode: 'index',
                      intersect: false
                    },
                    plugins: {
                      legend: {
                        display: false,
                      },
                      tooltip: {
                        displayColors: false,
                        backgroundColor: 'rgba(255, 255, 255, 1)',
                        titleColor: 'rgba(0, 0, 0, 1)',
                        bodyColor: 'rgba(0, 0, 0, 1)',
                        padding: 12,
                        cornerRadius: 12,
                        caretPadding: 12,
                        caretSize: 8,
                        bodyAlign: 'right'                      },
                      }
                    }
                  });
                  
                  
                  var chart = new Chart(myDiv, {
                    type: 'candlestick',
                    data: {
                      datasets: [{
                        label: asset.ticker,
                        data: [],
                        pointBackgroundColor: 'white',
                        pointBorderColor: 'white',
                        pointBorderWidth: 0,
                        // Custom colors for bullish and bearish candlesticks
                        backgroundColor: {
                          up: '#111111', // color for rising prices
                          down: RED_BACKGROUND  // color for falling prices
                        },
                      }]
                    },
                    options: {
                      scales: {
                        x: {
                          time: {
                            unit: 'day',
                            tooltipFormat: 'DD'
                          },
                          ticks: {
                            align: "start",
                            font: {
                              size: 14,
                              weight: 'bold'
                            },
                          },
                          grid: {
                            tickColor: 'rgba(255, 255, 255, 1)'
                          },
                        },
                        y: {
                          beginAtZero: false,
                          position: 'right',
                          ticks: {
                            font: {
                              size: 14,
                              weight: 'bold'
                            }
                          },
                          grid: {
                            tickColor: 'rgba(255, 255, 255, 1)'
                          },
                        }
                      },
                      plugins: {
                        legend: {
                          display: false
                        },
                        tooltip: {
                          displayColors: false,
                          backgroundColor: 'rgba(255, 255, 255, 1)',
                          titleColor: 'rgba(0, 0, 0, 1)',
                          bodyColor: 'rgba(0, 0, 0, 1)',
                          padding: 12,
                          cornerRadius: 12,
                          caretPadding: 12,
                          bodyAlign: 'right'
                        },
                      },
                      grid: {
                        color: 'rgba(0,0,0,0.1)',
                      },
                      // Add border to the entire chart
                      elements: {
                        line: {
                          tension: 0, // Disable bezier curves for line chart
                        },
                      },
                      borderColor: 'rgba(0, 0, 0, 1)', // Border color for the entire chart
                      borderWidth: 1, // Border width for the entire chart
                      animation: false, // Disable chart animation
                    }
                  });
                  
                  load_chart(asset.ticker, asset.index,'threeM', chart);
                }
              }
              
              function load_chart(ticker, index, width, chart) {
                var myDiv = document.getElementById("asset_chart_two_" + index);
                myDiv.style.display = 'none';
                var myDiv = document.getElementById('asset_chart_spinner_' + index);
                myDiv.classList.remove('d-none');
                
                console.log("running load_chart on", ticker, width);
                fetch('{{ portfolio.id }}' + '/asset_data', {
                  method: 'POST',
                  body: JSON.stringify({
                    ticker: ticker,
                    width: width
                  })
                })
                .then(response => response.json())
                .then(result => {
                  // Print result
                  var myDiv = document.getElementById("asset_chart_two_" + index);
                  myDiv.style.display = '';
                  var myDiv = document.getElementById('asset_chart_spinner_' + index);
                  myDiv.classList.add('d-none');
                  
                  console.log(result);
                  var chartData = result.chart_data;
                  chart.data.datasets[0].data = chartData;
                  chart.update();
                  
                  
                })
              }
              // Assuming you are using Bootstrap's data-bs-target attribute to identify the accordion element
              document.getElementById('showAllButton').addEventListener('click', function() {
                console.log("showAllButton clicked...")
                var accordionButtons = document.querySelectorAll('.accordion-button.collapsed');
                console.log("collapsed buttons", accordionButtons)
                accordionButtons.forEach(button => button.click())
              });
              
              document.getElementById('collapseAllButton').addEventListener('click', function() {
                console.log("collapseAllButton clicked...")
                
                var accordionButtons = document.querySelectorAll('.accordion-button:not(.collapsed)');
                console.log("non collapsed buttons", accordionButtons)
                
                accordionButtons.forEach(button => button.click())
              });
            });
            
            
            function dropAssets() {
              var elements = document.getElementsByClassName("accordion-collapse");
              var elementsArray = Array.from(elements);
              
              // Remove class from each element
              elementsArray.forEach(function(element) {
                element.classList.add("show");
                //element.aria-expanded="true";
              });
            }
            
            function collapseAssets() {
              var elements = document.getElementsByClassName("accordion-collapse");
              var elementsArray = Array.from(elements);
              
              // Remove class from each element
              elementsArray.forEach(function(element) {
                element.classList.remove("show");
                //element.aria-expanded="false";
              });
            }
            
            function addMessage(content, type) {
              const chatContainer = document.getElementById('chat-container');
              const messageDiv = document.createElement('div');
              messageDiv.className = 'message ' + type;
              chatContainer.appendChild(messageDiv);
              
              // Split the content into words
              const words = content.split(' ');
              
              words.forEach((word, index) => {
                setTimeout(() => {
                  if (index !== 0) {
                    messageDiv.innerHTML = messageDiv.textContent.slice(0, -2);
                  }
                  messageDiv.innerHTML += word;
                  if (words[index+1] !== undefined) {
                    messageDiv.innerHTML += ' ' + '  ●';
                  }
                }, (index * 200) + 200*Math.random()); // Adjust the delay as needed (500 milliseconds in this example)
              });
            }
            
            function tickOneDay() {
              // Change the location of the current page to the specified URL
              window.location.href = "{% url 'tick_one_day' portfolio.id %}";
            }
            
            function openInNewTab(url) {
              var win = window.open(url, '_blank');
              win.focus();
            }
            
            // Example usage:
            addMessage("{{ portfolio.advice }}", "bot_message");
            //document.getElementById("article_0").classList.add("active");
          </script>
          
          {% endblock %}
          'Concentrated in AAPL and DJIA, your portfolio shows consistent value. To manage risk and achieve balance, consider diversifying with additional assets or sectors.', 'bot-message'
          While a cash reserve provides security, consider optimizing by investing part in diverse assets for potential growth, balancing liquidity with long-term wealth accumulation.