{% extends "retrograde/layout.html" %}
{% load tz %}
{% block body %}
{% load static %}
<div class="header-footer-content">
  <b>My Portfolios > {{ portfolio.name }}</b>
</div>

<div id="big-portfolio-card" class="card">
  <div class="card-body" style="display: flex; padding: 20px 10px 0px 10px;">
    <div style="flex: 3;">
      <h2 class="card-title">{{ portfolio.name }}</h2>
      <h5 class="card-subtitle mb-2 text-body-secondary"><small>Simulation Date: {{ portfolio.date|date:"l, j F Y" }}</small> </h5>
    </div>
    <div style="flex: 1; text-align: right;">
      
      <h2 style="margin-bottom: 0px;" ><small style="font-size: 16px; margin-right: 10px;">USD </small>{{ portfolio.value }}</h2>
      {% if portfolio.change_status == "POSITIVE" %}
      <h5><span class="badge text-bg-success">{{ portfolio.change }}</span></h5>    
      {% elif portfolio.change_status == "ZERO" %}
      <h5><span class="badge text-bg-light">{{ portfolio.change }}</span></h5>    
      {% elif portfolio.change_status == "NEGATIVE" %}
      <h5><span class="badge text-bg-danger">{{ portfolio.change }}</span></h5>    
      {% endif %}
    </div>
  </div>
  <div style="display: flex;">
    <hr style="border: none; border-top: 2px solid #CCC; margin: 20px 0; width: 100%;">
  </div>
  <!-- Place the canvas element below the flex container -->
  {% comment %}   <div style="display: flex; justify-content: center; padding: 0px 30px 10px 30px;">
    <ul class="nav nav-pills" style="font-size: smaller; font-weight: bold;">
      <button id="oneD" type="button" class="btn btn-primary" style="margin: 5px; font-size: small; font-weight: bold;">All</button>
      <button id="oneW" type="button" class="btn btn-light" style="margin: 5px; font-size: small; font-weight: bold;">Day</button>
      <button id="oneW" type="button" class="btn btn-light" style="margin: 5px; font-size: small; font-weight: bold;">Week</button>
      <button id="oneM" type="button" class="btn btn-light" style="margin: 5px; font-size: small; font-weight: bold;">Month</button>
      <button id="threeM" type="button" class="btn btn-light" style="margin: 5px; font-size: small; font-weight: bold;">Year</button>
    </ul>
  </div> {% endcomment %}
  <div>
    <h4 style="margin-bottom: 0px;">Portfolio Value</h4>
    <small>How your portfolio has performed since inception.</small>
    <div style="height: 200px; margin-top: 10px;">
      <canvas id='assetValue' style="width: 100%;"></canvas>
    </div>
  </div>            
  
  <div>
    <div class="container" style="margin: 20px 0px 40px 0px;">
      <div class="row">
        <div class="col-md-8">
          <div class="card colored-card" style="border: none; padding: 10px; background-color: rgba(13, 110, 253, 0.8); color: white;">
            <div class="card-body" style="height:100%">
              <h4 class="card-title">Portfolio Performance</h4>
              <hr style="margin: 6px 0px; line-height: 4px;">
              
              {% comment %}              <small> Total Return: {{ portfolio.financial_performance.total_return }} <br>
                Sharpe Ratio: {{ portfolio.financial_performance.sharpe_ratio }}
                <br> Volatility, Beta: {{ portfolio.financial_performance_beta }}
                <br> Alpha: {{ portfolio.financial_performance_alpha }}
                <br> Treynor Ratio: {{ portfolio.financial_performance_treynor_ratio }}
                <br> Volatility: {{ portfolio.financial_performance_volatility }}
                <br> Information Ratio, Drawdown Analysis. Yield and Income Metrics. Duration and Convexity </small>
                {% endcomment %}                
                <div style="text-align: right;">
                  <h4 class="card-title">Profit to Date: USD {{ portfolio.profit }}</h4>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card colored-card" style="color: white; border: none; padding: 10px; background-color: rgba(150, 115, 240, 1);">
              <div class="card-body">
                <h4 class="card-title" style="">Feedback</h4>
                <hr style="margin: 0px 0px; height: 4px;">
                <figure style="margin: 0px;" >
                  <blockquote class="blockquote" style="margin-bottom:5px;">
                    <p style="font-size:9px; margin-bottom: 10px; font-style: italic">Generated using ChatGPT-4</p>
                    <div id="chat-container" style="font-size: 13px; margin-bottom: 5px;">●</div>
                    <p></p>
                  </blockquote>
                </figure>
              </div>
            </div>
          </div>
          
        </div>
        <div class="d-flex justify-content-end">
          <a id="tick_one_day_button" type="button" class="btn btn-primary btn-lg" href="{% url 'tick_one_day' portfolio.id %}">
            Tick One Day
          </a>
        </div>
      </div>
            
      <h4 style="margin-bottom: 0px;">Assets Held</h4>
      <small>All the assets that you hold and their market data for the past 3 months.</small>
      <div class="btn-group float-end" role="group" aria-label="Basic outlined example">
        <button id="showAllButton" class="btn btn-primary" style="font-size: 12px;">Show All</button>
        <button id="collapseAllButton" class="btn btn-primary" style="font-size: 12px;">Collapse All</button>
      </div>
      
      <table class="table" style="margin-top: 30px;">
        <thead>
          <tr>
            <th scope="col">Asset</th>
            <th scope="col" style="text-align: center;">Price</th>
            <th scope="col" style="text-align: right;">Allocation (USD)</th>
          </tr>
        </thead>
      </table>
      
      <div class="accordion accordion-flush" id="accordionPanelsStayOpenExample">
        {% for asset in portfolio.asset_data %}
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" style="backgroundColor: white;" type="button" data-bs-toggle="collapse" data-bs-target="#{{ 'panelsStayOpen-collapse'|add:asset.index }}" aria-expanded="false" aria-controls="{{ 'panelsStayOpen-collapse'|add:asset.index }}">
              <div class="asset-row">
                <div class="asset-info">
                  <b>{{ asset.ticker }}</b><br>
                  <small>{{ asset.long_name }}</small>
                </div>
                <div class="asset-chart" style="height: 50px; width: 100px;">
                  <canvas id="{{ 'asset_chart_'|add:asset.index }}"></canvas>
                </div>
                <div class="asset-details" style=" display: flex; align-items: center;">
                  <div style="text-align: right; height:40px; width: 100px">
                    <h6 style="margin-bottom: 0px;">
                      {% if asset.currency != "USD"  %}<small style="font-size: 9px; margin-right:2px;"> {{ asset.currency }}</small>
                      {% endif %}
                      {{ asset.current_price }}</h6>
                      {% if asset.current_price_change_status == "POSITIVE" %}
                      <h6><span class="badge text-bg-success">{{ asset.current_price_change }}</span></h6>
                      {% elif asset.current_price_change_status == "ZERO" %}
                      <h6><span class="badge text-bg-light">{{ asset.current_price_change }}</span></h6>
                      {% elif asset.current_price_change_status == "NEGATIVE" %}
                      <h6><span class="badge text-bg-danger">{{ asset.current_price_change }}</span></h6>
                      {% endif %}
                    </div>
                    
                    <div style="width: 70px; text-align: center; margin-left: 30px;">
                      <h6 style="margin: 0px">{{ asset.current_num_units }}</h6>
                    </div>
                    <div style="text-align: right; width: 80px;">
                      <b>{{ asset.current_value }}</b><br>
                      <small>{{ asset.current_value_percent }}</small>
                    </div>
                  </div>
                </div>
              </button>
            </h2>
            
            <div id="{{ 'panelsStayOpen-collapse'|add:asset.index }}" class="accordion-collapse collapse">
              <div class="accordion-body">
                
                {% if asset.ticker != "Cash Balance"  %}
                <div class="info-container">
                  <p class="info-pair">Currency: <strong>{{ asset.currency }}</strong></p>
                  <p class="info-pair">Country: <strong>{{ asset.country }}</strong> </p>
                  <p class="info-pair">Quote type: <strong>{{ asset.quote_type }}</strong></p>
                  <p class="info-pair">Exchange: <strong>{{ asset.exchange }}</strong></p>
                </div>
                <br>
                <small><b>Price Data of {{ asset.ticker }} for the last 3 months</b></small>
                <div style="height: 200px; margin-top: 10px;">
                  <canvas id="{{ 'price_chart_'|add:asset.index }}" style="height: 100px; width: 100%;"></canvas>
                </div>
                <br>
                <small><b>Candlestick Data of {{ asset.ticker }} for the last 3 months</b></small>
                <canvas id="{{ 'asset_chart_two_'|add:asset.index }}" style="height: 100px;"></canvas>
                <div id="{{ 'asset_chart_spinner_'|add:asset.index }}" class="d-flex justify-content-center align-items-center d-none" style="width: 100%; height: 400px;">
                  <div class="spinner-border" role="status">
                    <span class="visually-hidden"></span>
                  </div>
                </div>
                <br>
                <br>

                <small><b>Beta Chart {{ asset.ticker }} for the last 3 months</b></small>
                <div style="height: 250px; width: 350px">
                  <canvas id="{{ 'asset_chart_beta_'|add:asset.index }}"></canvas>
                </div>
                <br>
                Beta = {{ asset.beta_chart.0.beta }}
                <br>
                Benchmark = {{ asset.beta_chart.0.benchmark }}
                <br>
                <div id="{{ 'asset_chart_beta_spinner_'|add:asset.index }}" class="d-flex justify-content-center align-items-center d-none" style="width: 100%; height: 200px;">
                  <div class="spinner-border" role="status">
                    <span class="visually-hidden"></span>
                  </div>
                </div>
                <br>
                {% if asset.long_business_summary != "" %}
                  <h6>Summary</h6>
                  <p style="font-size: 11px;">{{ asset.long_business_summary }}</p>
                {% endif %}
                <div class="d-flex justify-content-center align-items-center">
                  <div id="trade-order" style="width: 50%; margin-top: 20px;">
                    <div style="display: flex; justify-content: center; align-items: center;">
                      <strong>
                        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                          <input type="checkbox" class="btn-check" id="{{ 'buy-order-button_'|add:asset.index }}" data-index="{{ asset.index }}" autocomplete="off" data-bs-toggle="collapse" data-bs-target="#{{ 'collapseBuy_'|add:asset.index }}" aria-expanded="false" aria-controls="{{ 'collapseBuy_'|add:asset.index }}" style="width: 90px; margin: 0px 5px;">
                          <label class="btn btn-outline-primary btn-sm" for="{{ 'buy-order-button_'|add:asset.index }}">Buy Order</label>
                          <input type="checkbox" class="btn-check" id="{{ 'sell-order-button_'|add:asset.index }}" data-index="{{ asset.index }}" autocomplete="off" data-bs-toggle="collapse" data-bs-target="#{{ 'collapseSell_'|add:asset.index }}" aria-expanded="false" aria-controls="{{ 'collapseSell_'|add:asset.index }}" style="width: 90px; margin: 0px 5px;">
                          <label class="btn btn-outline-primary btn-sm" for="{{ 'sell-order-button_'|add:asset.index }}">Sell Order</label>
                        </div>
                      </strong>
                    </div>
                    
                    <br>
                    <div id="{{ 'collapseOrder_'|add:asset.index }}" style="display: block; margin: 0px 0px;">
                      <div class="order collapse show" id="{{ 'collapseBuy_'|add:asset.index }}" data-index="{{ asset.index }}" style="border-radius: 25px; border-width: 1px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                        <div class="card-header" style="border-top-left-radius: 20px; border-top-right-radius: 20px; padding: 20px 20px 10px 20px; border-bottom-width: 0px !important;">
                          <h5><b>Buy Order</b></h5>
                        </div>
                        <form action="{% url 'buy_asset' portfolio.id %}" method="POST" class="card-body" style="padding: 10px 25px 25px 25px; font-size: 14px; width: 100% !important;">
                          {% csrf_token %}
                          
                          <div class="mb-3 row" style="margin-bottom: 0px !important;">
                            <label for="staticEmail" class="col-sm-6 col-form-label">Asset</label>
                            <p class="col-sm-1 col-form-label">:</p>
                            
                            <div class="col-sm-5" style="padding: 6px 12px; text-align: right;">
                              <b>{{ asset.ticker }}</b>
                              
                              <input name="ticker" type="text" readonly hidden class="form-control-plaintext" id="staticEmail" value="{{ asset.ticker }}">
                            </div>
                          </div>
                          <div class="mb-3 row" style="margin-bottom: 6px !important;">
                            <label for="inputPassword" class="col-sm-6 col-form-label">Current Price per unit</label>
                            <p class="col-sm-1 col-form-label">:</p>
                            {% if asset.currency == "USD"  %}
                            <div class="col-sm-5" style="padding: 6px 12px; text-align: right;">
                              <b>USD {{ asset.current_price }}</b>
                            </div>
                            {% else %}
                            <div class="col-sm-5" style="padding: 6px 12px; text-align: right;">
                              <b>{{ asset.currency }} {{ asset.current_price }}</b>
                            </div>
                            <label for="inputPassword" class="col-sm-7 col-form-label"></label>
                            <div id="{{ 'buy-current-price-usd_'|add:asset.index }}" data-value="{{ asset.current_price_usd }}" class="col-sm-5" style="padding: 6px 12px; text-align: right;">
                              USD {{ asset.current_price_usd|floatformat:3 }}
                            </div>
                            {% endif %}
                            
                          </div>
                          <div class="mb-3 row" style="margin-bottom: 6px !important;">
                            <label for="inputPassword" class="col-sm-6 col-form-label">Number of units</label>
                            <p class="col-sm-1 col-form-label">:</p>
                            <div class="col-sm-5">
                              <b>
                                <input name="units" type="text" class="form-control" id="{{ 'buy-num-units_'|add:asset.index }}" data-index="{{ asset.index }}" data-price="{{ asset.current_price }}" data-current_units="{{ asset.current_num_units }}" style="text-align: right; font-size: 14px;">
                                <div id="{{ 'buy-num-units_'|add:asset.index|add:'InvalidFeedback' }}" class="invalid-feedback">
                                </div>
                                <div id="{{ 'buy-num-units_'|add:asset.index|add:'ValidFeedback' }}" class="valid-feedback">
                                  Looks good!
                                </div>
                              </b>
                            </div>
                          </div>
                          <hr>
                          <div class="mb-3 row" style="margin-bottom: 0px !important;">
                            <label for="staticEmail" class="col-sm-6 col-form-label">Current Cash Balance</label>
                            <p class="col-sm-1 col-form-label">:</p>
                            <div class="col-sm-5" style="padding: 6px 12px; text-align: right;">
                              USD {{ portfolio.cash_balance }}
                            </div>
                          </div>
                          <div class="mb-3 row" style="margin-bottom: 12px !important;">
                            <label for="inputPassword" class="col-sm-6 col-form-label">Order value</label>
                            <p class="col-sm-1 col-form-label">:</p>
                            <div class="col-sm-5" style="padding: 6px 12px; text-align: right;">
                              <b id="{{ 'buy-order-value_'|add:asset.index }}">-</b>
                            </div>
                            
                          </div>
                          <div class="d-flex justify-content-end">
                            <button id="{{ 'placeBuyOrder_'|add:asset.index }}" type="submit" class="btn btn-primary btn-sm" style="width: 100px;">Place Order</button>
                          </div> 
                          
                        </form>
                      </div>
                      
                      <div class="order collapse show" id="{{ 'collapseSell_'|add:asset.index }}" data-index="{{ asset.index }}" style="border-radius: 25px; border-width: 1px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                        <div class="card-header" style="border-top-left-radius: 20px; border-top-right-radius: 20px; padding: 20px 20px 10px 20px; border-bottom-width: 0px !important;">
                          <h5><b>Sell Order</b></h5>
                        </div>
                        <form action="{% url 'sell_asset' portfolio.id %}" method="POST"  class="card-body" style="padding: 10px 25px 25px 25px; font-size: 14px; width: 100% !important;">
                          {% csrf_token %}
                          
                          <div class="mb-3 row" style="margin-bottom: 0px !important;">
                            <label for="staticEmail" class="col-sm-6 col-form-label">Asset</label>
                            <p class="col-sm-1 col-form-label">:</p>
                            
                            <div class="col-sm-5" style="padding: 6px 12px; text-align: right;">
                              <b>{{ asset.ticker }}</b>
                              
                              <input name="ticker" type="text" readonly hidden class="form-control-plaintext" id="staticEmail" value="{{ asset.ticker }}">
                            </div>
                          </div>
                          <div class="mb-3 row" style="margin-bottom: 6px !important;">
                            <label for="inputPassword" class="col-sm-6 col-form-label">Current Price per unit</label>
                            <p class="col-sm-1 col-form-label">:</p>
                            
                            {% if asset.currency == "USD"  %}
                            <div class="col-sm-5" style="padding: 6px 12px; text-align: right;">
                              <b>USD {{ asset.current_price }}</b>
                            </div>
                            {% else %}
                            <div class="col-sm-5" style="padding: 6px 12px; text-align: right;">
                              <b>{{ asset.currency }} {{ asset.current_price }}</b>
                            </div>
                            <label for="inputPassword" class="col-sm-7 col-form-label"></label>
                            <div id="{{ 'sell-current-price-usd_'|add:asset.index }}" data-value="{{ asset.current_price_usd }}" class="col-sm-5" style="padding: 6px 12px; text-align: right;">
                              USD {{ asset.current_price_usd|floatformat:3 }}
                            </div>
                            {% endif %}
                          </div>
                          <div class="mb-3 row" style="margin-bottom: 6px !important;">
                            <label for="inputPassword" class="col-sm-6 col-form-label">Number of units</label>
                            <p class="col-sm-1 col-form-label">:</p>
                            <div class="col-sm-5">
                              <b>
                                <input name="units" type="text" class="form-control" id="{{ 'sell-num-units_'|add:asset.index }}" data-index="{{ asset.index }}" data-price="{{ asset.current_price }}"  data-current_units="{{ asset.current_num_units }}" style="text-align: right; font-size: 14px;">
                                <div id="{{ 'sell-num-units_'|add:asset.index|add:'InvalidFeedback' }}" class="invalid-feedback">
                                </div>
                                <div id="{{ 'sell-num-units_'|add:asset.index|add:'ValidFeedback' }}" class="valid-feedback">
                                  Looks good!
                                </div>
                              </b>
                            </div>
                          </div>
                          <hr>
                          <div class="mb-3 row" style="margin-bottom: 0px !important;">
                            <label for="staticEmail" class="col-sm-6 col-form-label">Current Cash Balance</label>
                            <p class="col-sm-1 col-form-label">:</p>
                            <div class="col-sm-5" style="padding: 6px 12px; text-align: right;">
                              USD {{ portfolio.cash_balance }}
                            </div>
                          </div>
                          <div class="mb-3 row" style="margin-bottom: 12px !important;">
                            <label for="inputPassword" class="col-sm-6 col-form-label">Order value</label>
                            <p class="col-sm-1 col-form-label">:</p>
                            <div class="col-sm-5" style="padding: 6px 12px; text-align: right;">
                              <b id="{{ 'sell-order-value_'|add:asset.index }}">-</b>
                            </div>
                            
                          </div>
                          <div class="d-flex justify-content-end">
                            <button id="{{ 'placeSellOrder_'|add:asset.index }}" type="submit" class="btn btn-primary btn-sm" style="width: 100px;">Place Order</button>
                          </div> 
                          
                        </form>                        
                      </div> 
                    </div>                 
                  </div>    
                </div>
                {% else %}
                Content for cash balance
                {% endif %}
              </div>
            </div>
          </div>
          
          {% endfor %}
          
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" style="backgroundColor: white;" type="button" data-bs-toggle="collapse"  data-bs-target="#panelsStayOpen-collapse-new-asset" aria-expanded="false" aria-controls="panelsStayOpen-collapse-new-asset">
                <div class="asset-row" style="height: 50px;">
                  <div class="asset-info" style="text-align: center; display: flex; align-items: center; justify-content: center; text-align: center;">
                    <b> Add New Asset </b>
                    
                  </div>
                </button>
              </h2>
              
              <div id="panelsStayOpen-collapse-new-asset" class="accordion-collapse collapse">
                <div class="accordion-body">
                  <div class="input-group d-flex mx-auto" style="width: 60%;">
                    <input id="search_ticker" type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" style="border-bottom-right-radius: 0px !important; border-top-right-radius: 0px !important;"/>
                    <button id="search_trigger" type="button" class="btn btn-outline-primary" data-mdb-ripple-init>search</button>
                  </div>
                  <br>
                  <br>
                  <div id="search_asset_data" style="display: none;">
                    <div class="asset-row mx-auto" style="width: 100%;">
                      <div class="asset-info">
                        <b id="search_asset_ticker"></b><br>
                        <small id="search_asset_long_name"></small>
                      </div>
                      <div class="asset-chart" style="height: 50px; width: 100px;">
                        <canvas id="search_asset_small_chart"></canvas>
                      </div>
                      <div class="asset-details" style="display: flex; align-items: center;">
                        <div style="text-align: right; height: 40px; width: 100%; margin-right: 0px;">
                          <h6 id="search_asset_price" style="margin-bottom: 0px;"></h6>
                          <h6><span id="search_asset_price_change" class="badge text-bg-success"></span></h6>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="info-container">
                      <p class="info-pair">Currency: <strong id="search_asset_currency"></strong></p>
                      <p class="info-pair">Country: <strong id="search_asset_country"></strong> </p>
                      <p class="info-pair">Quote type: <strong id="search_asset_quote_type"></strong></p>
                      <p class="info-pair">Exchange: <strong id="search_asset_exchange"></strong></p>
                    </div>
                    <br>
                    <small><b>Price Data for the last 3 months</b></small>
                    <div style="height: 200px; margin-top: 10px;">
                      <canvas id="search_asset_price_chart" style="height: 100px; width: 100%;"></canvas>
                    </div>
                    <br>
                    <small><b>Candlestick Data for the last 3 months</b></small>
                    <canvas id="asset_chart_two_search_asset" style="height: 100px;"></canvas>
                    <div id="asset_chart_spinner_search_asset" class="d-flex justify-content-center align-items-center d-none" style="width: 100%; height: 400px;">
                      <div class="spinner-border" role="status">
                        <span class="visually-hidden"></span>
                      </div>
                    </div>

                    <small><b>Beta Chart {{ asset.ticker }} for the last 3 months</b></small>
                    <div style="height: 200px; width: 400px;">
                      <canvas id='asset_chart_beta_search'></canvas>
                    </div>
                    <br>
                    <div id="search_asset_beta_value">
                    Beta =
                    </div>
                    <br>
                    <div id="search_asset_beta_benchmark">

                    Benchmark =
                    </div>

                    <br>
                    <div id='asset_chart_beta_spinner_search' class="d-flex justify-content-center align-items-center d-none" style="width: 100%; height: 200px;">
                      <div class="spinner-border" role="status">
                        <span class="visually-hidden"></span>
                      </div>
                    </div>
    
                    
                    <h6>Summary</h6>
                    <p id="search_asset_summary" style="font-size: 11px;"></p>          
                    <div class="d-flex justify-content-center align-items-center">
                      <div id="trade-order" style="width: 50%; margin-top: 20px;">
                        <div style="display: flex; justify-content: center; align-items: center;">
                          <strong>
                            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                              <input type="checkbox" class="btn-check" id='buy-order-button_search_asset' data-index="search_asset" autocomplete="off" data-bs-toggle="collapse" data-bs-target="#collapseBuy_search_asset" aria-expanded="false" aria-controls="collapseBuy_search_asset" style="width: 90px; margin: 0px 5px;">
                              <label class="btn btn-outline-primary btn-sm" for='buy-order-button_search_asset'>Buy Order</label>
                            </div>
                          </strong>
                        </div>
                        
                        <br>
                        <div id="collapseOrder_search_asset" style="display: block; margin: 0px 0px;">
                          <div class="order collapse" id="collapseBuy_search_asset" data-index="search_asset" style="border-radius: 25px; border-width: 1px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                            <div class="card-header" style="border-top-left-radius: 20px; border-top-right-radius: 20px; padding: 20px 20px 10px 20px; border-bottom-width: 0px !important;">
                              <h5><b>Buy Order</b></h5>
                            </div>
                            <form action="{% url 'buy_asset' portfolio.id %}" method="POST" class="card-body" style="padding: 10px 25px 25px 25px; font-size: 14px; width: 100% !important;">
                              {% csrf_token %}
                              
                              <div class="mb-3 row" style="margin-bottom: 0px !important;">
                                <label for="staticEmail" class="col-sm-6 col-form-label">Asset</label>
                                <p class="col-sm-1 col-form-label">:</p>
                                
                                <div class="col-sm-5" style="padding: 6px 12px; text-align: right;">
                                  <b id="buy_search_asset_display"></b>
                                  
                                  <input name="ticker" type="text" readonly hidden class="form-control-plaintext" id="buy_search_asset_input" value="">
                                </div>
                              </div>
                              <div class="mb-3 row" style="margin-bottom: 6px !important;">
                                <label for="inputPassword" class="col-sm-6 col-form-label">Current Price per unit</label>
                                <p class="col-sm-1 col-form-label">:</p>
                                
                                <div class="col-sm-5" style="padding: 6px 12px; text-align: right;">
                                  <b id="buy_search_asset_price"></b>
                                </div>
                                <div id="buy-rate-container_search_asset" style="display: none; padding: 0px !important;">
                                  <label for="inputPassword" class="col-sm-7 col-form-label"></label>
                                  <div id='buy-current-price-usd_search_asset' class="col-sm-5" style="padding: 6px 12px; text-align: right;"></div>
                                </div>
                                
                              </div>
                              
                              <div class="mb-3 row" style="margin-bottom: 6px !important;">
                                <label for="inputPassword" class="col-sm-6 col-form-label">Number of units</label>
                                <p class="col-sm-1 col-form-label">:</p>
                                <div class="col-sm-5">
                                  <b>
                                    <input required name="units" type="text" class="form-control" id='buy-num-units_search_asset' data-index="search_asset" data-price=""  data-current_units="" style="text-align: right; font-size: 14px;">
                                    <div id='buy-num-units_search_assetInvalidFeedback' class="invalid-feedback">
                                    </div>
                                    <div id='buy-num-units_search_assetValidFeedback' class="valid-feedback">
                                      Looks good!
                                    </div>
                                  </b>
                                </div>
                              </div>
                              <hr>
                              <div class="mb-3 row" style="margin-bottom: 0px !important;">
                                <label for="staticEmail" class="col-sm-6 col-form-label">Current Cash Balance</label>
                                <p class="col-sm-1 col-form-label">:</p>
                                <div class="col-sm-5" style="padding: 6px 12px; text-align: right;">
                                  USD {{ portfolio.cash_balance }}
                                </div>
                              </div>
                              <div class="mb-3 row" style="margin-bottom: 12px !important;">
                                <label for="inputPassword" class="col-sm-6 col-form-label">Order value</label>
                                <p class="col-sm-1 col-form-label">:</p>
                                <div class="col-sm-5" style="padding: 6px 12px; text-align: right;">
                                  <b id='buy-order-value_search_asset'>-</b>
                                </div>
                                
                              </div>
                              <div class="d-flex justify-content-end">
                                <button id='placeBuyOrder_search_asset' type="submit" class="btn btn-primary btn-sm" style="width: 100px;">Place Order</button>
                              </div> 
                              
                            </form>
                          </div>
                          
                        </div>                 
                      </div>    
                    </div>
                  </div>
                </div>
                <div id="search_asset_spinner" class="d-flex justify-content-center align-items-center d-none" style="width: 100%; height: 400px;">
                  <div class="spinner-border" role="status">
                    <span class="visually-hidden"></span>
                  </div>
                </div>
                
                <div id="search_asset_error" class="d-flex justify-content-center align-items-center d-none" style="width: 100%; height: 400px;">
                </div>
              </div>
              
            </div>
            
            <div class="accordion-item" style="height: 90px; display: flex; align-items: center; justify-content: center; text-align: center; border-bottom-width: 1px;">
            </div>      
            
          </div>
        </div>
        
        <div id="news-Div" style="margin-bottom: 30px; display: none;">
          <h4 style="margin-bottom: 0px;">Today's News</h4>
          <small>Read today's news to improve your investing strategy.</small>
          
          <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-interval="1000" style="margin: 20px 0px 40px 0px">
            <div id="news-container" class="carousel-inner">

              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          
          <div style="margin-bottom: 30px;">
            <h4 style="margin-bottom: 0px;">Asset Allocation</h4>
            <small>How the mix of assets held under the portfolio has changed with time.</small>
            <canvas id='allocation_chart' style="width: 100%; height: 150px; margin-top: 10px;"></canvas>
          </div>
          
          <div style="margin-top: 10px; margin-bottom: 20px;">
            {% if portfolio.archived %}
            <a id="close_portfolio" style="color: black; font-size: 14px; display: inline-block !important; margin-right: 10px;" href="{% url 'close_portfolio' portfolio.id %}">
              × Close Portfolio
            </a>
            <a id="unarchive_portfolio" style="color: black; font-size: 14px; display: inline-block !important; margin-right: 10px;" href="{% url 'unarchive_portfolio' portfolio.id %}">
              + Unarchive Portfolio
            </a>
            {% else %}
            <a id="archive_portfolio" style="color: black; font-size: 14px; display: inline-block !important; margin-right: 10px;" href="{% url 'archive_portfolio' portfolio.id %}">
              - Archive Portfolio
            </a>
            {% endif %}
          </div>
        </div>
        
        <script>
          var price_data = {{ portfolio.price_data|safe }};
          var portfolioChangeStatus = "{{ portfolio.change_status }}";
          var assets = {{ portfolio.asset_data|safe }}
          const cash_balance = "{{ portfolio.cash_balance }}"
          const portfolio_id = {{ portfolio.id }}
          const portfolio_advice = "{{ portfolio.advice }}"
          const alt_image_url = '{% static 'retrograde/news.png' %}'
        </script>
        
        <script src="{% static 'retrograde/portfolio.js' %}"></script>
        <!--<script src="{% static 'retrograde/portfolioCharts.js' %}" type="module"></script>-->
        
        {% endblock %}
        