body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100;
    margin-bottom: 100px;
    overflow-x: hidden;  /* Prevent horizontal scrolling on small screens */
}

.header-footer-content {
    margin: 0px 20px;
}

#content {
    margin-bottom: 100px;
}

.centered-div {
    text-align: left;
    width: 1000px; /* Adjust the fixed width as needed */
}

#portfolio-card {
    margin: 30px 0px;
    border-radius: 50px;
    padding: 13px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease; /* Add transition for smooth effect */
    height: 250px;
}

.colored-card {
    height: 19rem;
    transition: height 0.3s ease; /* Add a smooth transition effect */
}

#tick_one_day_button {
    border-radius: 25px;
    width: 269px;
    height:50px;
    margin-top: 24px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news-content {
    width: 62%  !important;
}

/* Responsive styles for smaller screens */
@media (max-width: 1000px) {
    .centered-div {
        width: 100%;
    }
    .colored-card {
        height: 24rem; 
    }
    #tick_one_day_button {
        width: 100%;
    }
    .news-content {
        width: 55% !important;
    }
}

.card {
    border-radius: 25px;
}

.card-body {
    padding: 17px;
}

#portfolio-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

#big-portfolio-card {
    margin: 50px 0px;
    border-radius: 50px;
    padding: 60px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease; /* Add transition for smooth effect */
    padding-bottom: 70px;
}

#big-asset-card {
    margin: 30px 0px;
    border-radius: 50px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease; /* Add transition for smooth effect */
}

.asset-row {
    width: 896px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin-right: 10px;
}

.asset-info,
.asset-chart,
.asset-details {
    flex: 1;
    margin: 0 10px;
}

.asset-chart canvas {
    width: 100%;
    height: 50px;
    border: 1px solid #333;
}

.asset-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.asset-details div {
    text-align: right;
}


.accordion-button {
    background-color: white !important;
    bottom: rgb(5, 44, 101);
    padding: 10px 20px;
    color: black !important; 
    padding-top: 10px;
    transition: padding-top 0.5s ease;  /* Adjust the duration and timing function as needed */
}

canvas {
    border: 0px !important;
}

.asset-info {
    width: 200px;
}

.accordion-button:not(.collapsed) {
    box-shadow: none !important;
    padding-top: 30px;
}

.login-register-form {
    width: 50%;
    margin: 0 auto; /* Center the container horizontally */
    margin-top: 60px;
}

/* .order.collapse {
    margin-bottom: 20px !important;
} */

.table {
    margin-bottom: 0px;
}

.info-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
    text-align: center;
}

.info-pair {
    flex-basis: 24%; /* Divide the container into four equal segments */
}



.carousel-item, .carousel-inner, .row g-0 {
    height: 300px;
    border-radius: 25px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer !important;
}

.carousel-inner {
    transition: box-shadow 0.2s ease; /* Add transition for smooth effect */
}

.carousel-inner:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.carousel-control-next, .carousel-control-prev {
    transition: background 0.2s ease; /* Add transition for smooth effect */
}

.carousel-control-next:hover {
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.carousel-control-prev:hover {
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.card-img-overlay {
    padding: 50px 60px;
    border-radius: 25px;
    color: white;
    font-family: 'Palatino', Garamond, serif;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.g-0 {
    height: 300px !important;
}

.image_container {
    /* Add any necessary styles for your container */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    margin-right: 20px;
    width: 220px;
    height: 220px;
}

.d-block {
    border-radius: 8px !important;
    /*border-top-left-radius: 25px !important;
    border-bottom-left-radius: 25px !important;*/
    object-fit: cover;
    height: 100%;
    width: 220px;
}

.news-content {
    padding-left: 0px !important;
    padding-top: 50px !important;
    width: 65%;
}
.datepicker {
    padding: 0px;
    border-radius: 8px !important;
}

.datepicker-days, .datepicker-months, .datepicker-years, .datepicker-decades, .datepicker-centuries {
    padding: 20px; text-align: center;
}

.dow, .day {
    margin: 4px !important;
}

.form-group.row {
    margin-bottom: 15px;
}

.active.day {
    background-color: red !important;
}

.form-group {
    margin-bottom: 15px;
}

#form-new-portfolio {
    padding-top: 20px;
    width: 50%;
    margin: 0 auto; /* Center the form horizontally */
    margin-top: 20px;
}

.news_card {
    text-decoration: none;
}
